$azul-logo: #1B365E;
$azul-logo--claro: #4387EA;
$azul-logo--claro-alpha: rgba(69, 134, 234, 0.7);
$azul-logo--oscuro: #142744;
$azul-logo--compuesto: #3824B7;
$gris-logo: #5E5E5E;
$gris-logo--claro: #AAAAAA;
$gris-logo--oscuro: #444444;
