@import 'variables';
@import 'navbar';

#toTop {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 5px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: $azul-logo--claro-alpha;
    color: #fff;
    cursor: pointer;
    padding: .5rem;
    border-radius: 5px;
}

.banner {
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-height: 800px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .is-4 {
        @include mobile-layout {}

        @include mobile-landscape {}

        @include tablet-layout {
        	width: 100%;
        }

        @include desktop-layout {
        	width: 100%;
        }
    }


    @include mobile-layout {
        height: calc(100vh - 4rem);
    }

    @include mobile-landscape {}

    @include tablet-layout {}

    @include desktop-layout {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}


#quiensomos,
#servicios,
#clientes,
#contacto {
    top: -80px;
}

.columns {
    margin: 0;

    &:last-child {
        margin-bottom: 0;
    }
}



/* Seccion 1*/
.info {
    .info__img {
        padding: 0;
    }

    .info__text {
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-top: solid 4px $azul-logo--claro;

        img {
            border-radius: 5px;
            max-height: 200px;
        }

        #title-current--2 {
            border-top: solid 0px rgba(50, 50, 50, 0.1);
            margin-top: 2rem;
            padding-top: 1rem;
        }
    }

    .back {
        text-align: center;
    }
}

.info__contents {

    .column {
        padding: 0;
    }

    .text--active {
        padding: 1.2rem;
        background-color: $azul-logo--claro-alpha;
        height: 100%;
        width: 100%;
        border-radius: 3px;

        h1,
        h3,
        p {
            color: #fff;
        }
    }

    .text--inactive {
        padding: 1.2rem;
        background-color: rgba(255, 255, 255, 0.7);
        height: 100%;
        width: 100%;
        border-radius: 3px;

        h3,
        p {
            color: $azul-logo--claro;
        }

        h1 {
            color: $azul-logo;
        }
    }

    .info__contents--first {

        height: 200px;
    }

    .info__contents--second {

        height: 200px;
    }
}


/* /.Seccion 1 */

/* Seccion 2 */
.sec-prod {
    margin-top: 10px;
    border-top: solid 1px $azul-logo--claro-alpha;
    border-bottom: solid 1px $azul-logo--claro-alpha;

    .headings {
        h1 {
            padding-top: 2rem;
        }

        ul {
            margin-bottom: 50px;
        }

        li {
            padding-top: .5rem;
            padding-bottom: .5rem;

            .fa-caret-right {
                margin-left: 5px;
            }
        }

        .menu-list a {
            @include mobile-layout {
                padding-left: .5em;
            }

            @include mobile-landscape {
                padding-left: .5em;
            }

            @include tablet-layout {
                padding-left: 1em;
            }

            @include desktop-layout {
                padding-left: 1em;
            }
        }
    }

    .products {
        background: linear-gradient($azul-logo--claro, $azul-logo--compuesto);
        padding: 2rem;
        color: #fff;

        h1 {
            color: #fff;
        }
    }

    .isotipo {
        margin-top: 2rem;
        text-align: center;
    }
}


/* /.Seccion 2 */
.sec-clients {
    background-color: #f1f1f1;
    border-bottom: solid 1px $azul-logo--claro-alpha;

    .subtitle {
        text-align: center;
        padding-bottom: 0;
    }

    .client {
        line-height: 200px;
        padding-top: 0;

        img {
            max-height: 100px;
            vertical-align: middle;
        }
    }
}


/* Contact */
.contact {
    background-image: url(../images/contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: $azul-logo--oscuro;
    padding: 2rem;

    p.title,
    .subtitle {
        text-align: center;
        color: #fff;
    }

    p {
        color: rgba(255, 255, 255, .9);
    }

    .container-contact {
        max-width: 500px;
        padding: 2rem;
        background: linear-gradient($azul-logo--claro, $azul-logo--compuesto);
        border-radius: 5px;
        opacity: .9;

        input {
            width: 100%;
            margin-bottom: 1rem;
            height: 35px;
            border-radius: 5px;
            border: solid 1px $azul-logo;
            padding: .5rem;
        }

        textarea {
            width: 100%;
            height: 100px;
            margin-bottom: 1rem;
            border-radius: 5px;
            padding: .5rem;
        }

        .button {
            border: solid 2px rgba(255, 255, 255, .9);
            background-color: $azul-logo--claro;
            color: #fff;

            .fa-paper-plane {
                margin-left: .25rem;
            }
        }
    }
}


/* Footer */
footer {
    background-color: #111;
    color: rgba(255, 255, 255, .7);
    padding: 0 1rem 0 1rem;
    text-align: center;

    .column {
        .subtitle {
            color: #fff;
        }
    }

    img {
        max-width: 200px;
    }
}



/* footer 

.navbar.is-brand.is-fixed-bottom {
    background-color: $azul-logo;
    color: $azul-logo--claro;
    min-height: 30px;
    height: 30px;

    .fa-angle-up {
    	margin-left: calc(50vw - 1rem);
    	text-align: center;
        line-height: 30px;
        font-size: 2rem;
    }
}*/