@charset "UTF-8";
/* Barra de navegación con despliegue lateral */
nav {
  height: 80px;
  width: 100%;
}
nav .topbar {
  grid-column: span 12;
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 0 1rem;
  width: 100%;
  height: 20px;
  line-height: 20px;
  background-color: #4387EA;
  z-index: 1000;
}
nav .topbar .date {
  color: #142744;
  font-size: 0.7rem;
}
nav .topbar .indicadores {
  font-size: 0.7rem;
  line-height: 20px;
  vertical-align: middle;
}
nav .topbar .indicadores span {
  margin: 0 0 0 0.5rem;
  color: #142744;
}
nav .topbar .indicadores strong {
  color: #142744;
}
nav .navbar {
  grid-column: span 12;
  position: fixed;
  display: flex;
  top: 20px;
  width: 100%;
  padding: 0 1rem;
  height: 60px;
  line-height: 60px;
  background-color: #1B365E;
  color: #EEE;
  z-index: 1000;
}
nav .navbar a {
  color: #fff;
}
nav .navbar h1 {
  display: none;
}
nav .navbar .navbar__brand img {
  max-height: 60px;
  width: 200px;
  line-height: 60px;
  vertical-align: middle;
  padding: 5px;
}
nav .navbar .navbar__items {
  display: flex;
  margin-left: auto;
}
nav .navbar .navbar__items li {
  margin-left: 2rem;
  font-weight: 300;
}
nav .navbar .navbar__toggle {
  display: none;
  margin: auto 0 auto auto;
  cursor: pointer;
  line-height: 60px;
}
nav .navbar .sidenav--close {
  display: none;
  right: 0;
}
nav .navbar .sidenav--open {
  display: flex;
  right: 0;
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 100;
  top: 80px;
  background-color: #142744;
  overflow-x: hidden;
  padding-top: 40px;
  text-align: center;
  opacity: 0.95;
  transition: 1s;
}
nav .navbar .sidenav__items {
  margin: 0 auto;
  font-weight: 300;
  opacity: 0;
  transition: 0.5s;
}

/* /Barra de navegación con despliegue lateral */
@media only screen and (max-width: 480px) {
  nav .topbar .indicadores .uf, nav .topbar .indicadores .utm {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  nav .topbar {
    padding: 0 2rem;
  }
}
@media only screen and (min-width: 1024px) {
  nav .navbar {
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 480px) {
  nav .navbar .navbar__items {
    display: none;
    flex-direction: column;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  nav .navbar .navbar__items {
    display: none;
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  nav .navbar .navbar__items {
    display: none;
    flex-direction: column;
  }
}
@media only screen and (max-width: 480px) {
  nav .navbar .navbar__toggle {
    display: block;
  }
  nav .navbar .navbar__toggle .fa-bars {
    opacity: 0.8;
    display: block;
    line-height: 60px;
    transition: 1s;
  }
  nav .navbar .navbar__toggle .fa-times {
    opacity: 0;
    display: none;
    line-height: 60px;
    transition: 1s;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  nav .navbar .navbar__toggle {
    display: block;
  }
  nav .navbar .navbar__toggle .fa-bars {
    opacity: 0.8;
    display: block;
    line-height: 60px;
    transition: 1s;
  }
  nav .navbar .navbar__toggle .fa-times {
    opacity: 0;
    display: none;
    line-height: 60px;
    transition: 1s;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  nav .navbar .navbar__toggle {
    display: block;
  }
  nav .navbar .navbar__toggle .fa-bars {
    opacity: 0.8;
    display: block;
    line-height: 60px;
    transition: 1s;
  }
  nav .navbar .navbar__toggle .fa-times {
    opacity: 0;
    display: none;
    line-height: 60px;
    transition: 1s;
  }
}

#toTop {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 5px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(69, 134, 234, 0.7);
  color: #fff;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 5px;
}

.banner {
  background-image: url(../images/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  max-height: 800px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .banner .is-4 {
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .banner .is-4 {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .banner {
    height: calc(100vh - 4rem);
  }
}
@media only screen and (min-width: 1024px) {
  .banner {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

#quiensomos,
#servicios,
#clientes,
#contacto {
  top: -80px;
}

.columns {
  margin: 0;
}
.columns:last-child {
  margin-bottom: 0;
}

/* Seccion 1*/
.info .info__img {
  padding: 0;
}
.info .info__text {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: solid 4px #4387EA;
}
.info .info__text img {
  border-radius: 5px;
  max-height: 200px;
}
.info .info__text #title-current--2 {
  border-top: solid 0px rgba(50, 50, 50, 0.1);
  margin-top: 2rem;
  padding-top: 1rem;
}
.info .back {
  text-align: center;
}

.info__contents .column {
  padding: 0;
}
.info__contents .text--active {
  padding: 1.2rem;
  background-color: rgba(69, 134, 234, 0.7);
  height: 100%;
  width: 100%;
  border-radius: 3px;
}
.info__contents .text--active h1,
.info__contents .text--active h3,
.info__contents .text--active p {
  color: #fff;
}
.info__contents .text--inactive {
  padding: 1.2rem;
  background-color: rgba(255, 255, 255, 0.7);
  height: 100%;
  width: 100%;
  border-radius: 3px;
}
.info__contents .text--inactive h3,
.info__contents .text--inactive p {
  color: #4387EA;
}
.info__contents .text--inactive h1 {
  color: #1B365E;
}
.info__contents .info__contents--first {
  height: 200px;
}
.info__contents .info__contents--second {
  height: 200px;
}

/* /.Seccion 1 */
/* Seccion 2 */
.sec-prod {
  margin-top: 10px;
  border-top: solid 1px rgba(69, 134, 234, 0.7);
  border-bottom: solid 1px rgba(69, 134, 234, 0.7);
}
.sec-prod .headings h1 {
  padding-top: 2rem;
}
.sec-prod .headings ul {
  margin-bottom: 50px;
}
.sec-prod .headings li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.sec-prod .headings li .fa-caret-right {
  margin-left: 5px;
}
@media only screen and (max-width: 480px) {
  .sec-prod .headings .menu-list a {
    padding-left: 0.5em;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .sec-prod .headings .menu-list a {
    padding-left: 0.5em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .sec-prod .headings .menu-list a {
    padding-left: 1em;
  }
}
@media only screen and (min-width: 1024px) {
  .sec-prod .headings .menu-list a {
    padding-left: 1em;
  }
}
.sec-prod .products {
  background: linear-gradient(#4387EA, #3824B7);
  padding: 2rem;
  color: #fff;
}
.sec-prod .products h1 {
  color: #fff;
}
.sec-prod .isotipo {
  margin-top: 2rem;
  text-align: center;
}

/* /.Seccion 2 */
.sec-clients {
  background-color: #f1f1f1;
  border-bottom: solid 1px rgba(69, 134, 234, 0.7);
}
.sec-clients .subtitle {
  text-align: center;
  padding-bottom: 0;
}
.sec-clients .client {
  line-height: 200px;
  padding-top: 0;
}
.sec-clients .client img {
  max-height: 100px;
  vertical-align: middle;
}

/* Contact */
.contact {
  background-image: url(../images/contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #142744;
  padding: 2rem;
}
.contact p.title,
.contact .subtitle {
  text-align: center;
  color: #fff;
}
.contact p {
  color: rgba(255, 255, 255, 0.9);
}
.contact .container-contact {
  max-width: 500px;
  padding: 2rem;
  background: linear-gradient(#4387EA, #3824B7);
  border-radius: 5px;
  opacity: 0.9;
}
.contact .container-contact input {
  width: 100%;
  margin-bottom: 1rem;
  height: 35px;
  border-radius: 5px;
  border: solid 1px #1B365E;
  padding: 0.5rem;
}
.contact .container-contact textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 0.5rem;
}
.contact .container-contact .button {
  border: solid 2px rgba(255, 255, 255, 0.9);
  background-color: #4387EA;
  color: #fff;
}
.contact .container-contact .button .fa-paper-plane {
  margin-left: 0.25rem;
}

/* Footer */
footer {
  background-color: #111;
  color: rgba(255, 255, 255, 0.7);
  padding: 0 1rem 0 1rem;
  text-align: center;
}
footer .column .subtitle {
  color: #fff;
}
footer img {
  max-width: 200px;
}

/* footer 

.navbar.is-brand.is-fixed-bottom {
    background-color: $azul-logo;
    color: $azul-logo--claro;
    min-height: 30px;
    height: 30px;

    .fa-angle-up {
    	margin-left: calc(50vw - 1rem);
    	text-align: center;
        line-height: 30px;
        font-size: 2rem;
    }
}*/

/*# sourceMappingURL=style.css.map */
